/* CreatePlan.css */
.createplan-page {
    width: 900px;
    padding: 24px 32px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.createplan-header {
    width: 900px;
    max-width: 100%;
    margin-bottom: 24px;
}

.createplan-header h1 {
    font-size: 28px;
    font-weight: 700;
    color: #002765;
}

/* Content */
.createplan-content {
    width: 900px;
    max-width: 100%;
}

/* Actions */
.createplan-actions {
    width: 900px;
    max-width: 100%;
    position: static;
    bottom: 0;
    padding: 16px 0;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    border-top: 1px solid #eee;
}

.review-btn {
    padding: 12px 22px;
    background-color: #edeef0;
    color: #333;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.create-btn, .save-btn{
    padding: 12px 26px;
    background-color: #153677;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
.cancel-btn{
    padding: 12px 26px;
    background-color: #D10000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.create-btn:hover,
.review-btn:hover,
.save-btn:hover,
.cancel-btn:hover{
    opacity: 0.9;
}