server:
  port: 8080
  servlet:
    context-path: /planify

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/planify?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: fumo9900
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

file:
  upload-dir: /home/an/Pictures
